html {
    font-size: 14px;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Merriweather, serif;
}

.para {
    line-height: 2rem;
    letter-spacing: 0.0933333px;
    margin-bottom: 2.2857rem;
    font-size: 1rem;
}

.stick-to-top{
    height: 100%;
    z-index: auto;
    position: sticky;
    display: flex;
    flex-direction: column;
    top:6rem;
}
.navy-nav{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-top: 1rem;
    font-size: 1.1rem;
}


.intro{
    display:flex;
    width: 100%;
    background-color: #101d42;
    align-items: center;
    justify-content: center;
}
.intro-col-1{
    width: 40%;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.intro-col-2{
    width: 30%;
}


.footer-wrap{
    display: flex;
}
.footer-col-1{
    width: 33%;
}
.footer-col-2{
    width: 67%;
}


.company{
    margin-right: 8rem;
    width:20%;
}
.resources{
    margin-right: 8rem;
    width:20%;
}
.support{
    margin-right: 8rem;
    width:20%;
}
.services{
    width:20%;
}


.main-content{
    display: flex;
    justify-content: center;
    padding:4rem;
}
.main-col-4{
    width: 20%;
    margin-right: 1rem;
}
.main-col-7{
    width: 50%;
}

/* Responsiveness */
@media only screen and (max-width: 980px) {
    .navy-nav{
        flex-direction: column;
    }
}
@media(max-width:930px){
    .intro{
        flex-direction: column;
    }
    .intro-col-1{
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .intro-col-2{
        width: 80%;
    }
    .main-col-4{
        width: 35%;
        margin-right: 1rem;
    }
    .main-col-7{
        width: 65%;
    }
}
@media(max-width:1070px){
    .footer-wrap{
        flex-direction: column;
        align-items: center;
    }
    .footer-col-1{
        width: 80%;
    }
    .footer-col-2{
        width: 80%;
    }
}
@media(max-width:800px) {
    .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .company{
        width:40%;
        margin-right: 2rem;
        margin-bottom: 5rem;
    }
    .resources{
        margin-right: 2rem;
        width:40%;
        margin-bottom: 5rem;
    }
    .support{
        width:40%;
        margin-right: 2rem;
        margin-bottom: 5rem;
    }
    .services{
        width:40%;
        margin-right: 2rem;
        margin-bottom: 5rem;
    }
}
@media(max-width:540px){
    .main-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stick-to-top{
        position: static;
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .main-col-4{
        width: 100%;
        margin-right: 0;
    }
    .main-col-7{
        width: 100%;
    }
}